# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
*.log
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (frontend if used)
node_modules/
dist/
build/
